exportPattern("^[[:alpha:]]+")
importFrom(grid, grobTree, textGrob, grid.newpage, pushViewport, viewport, grid.layout)
import(ggplot2)
importFrom(ggrepel, geom_text_repel)
importFrom(magrittr, "%>%")
importFrom(GGally, ggally_text, eval_data_col, ggpairs)
importFrom(ade4, mantel.randtest)
importFrom(dendextend, set, rotate_DendSer)
importFrom(lme4, ranef, VarCorr, fortify.merMod)
importFrom(lmerTest, ranova, lmer)
importFrom(gtools, mixedorder)
importFrom(dplyr, select, everything, mutate, group_by, group_by_if, group_keys,
           group_split, left_join, sample_n, anti_join, enquo, pull)
importFrom(gplots, heatmap.2)
importFrom(rlang, eval_bare, expr)
importFrom(FWDselect, selection)
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf",
           "chull", "tiff", "boxplot.stats")
importFrom("methods", "is", "as")
importFrom("graphics", "plot", "boxplot", "hist", "par", "mtext")
importFrom("stats", "aov", "filter", "as.dendrogram", "dist", "hclust", "lm",
           "model.matrix", "qt", "weighted.mean", "deviance", "df.residual",
           "pf", "predict", "dnorm", "fitted", "ppoints", "qnorm", "quantile",
           "resid", "sd", "residuals", "cor", "reorder", "varimax",
           "cov2cor", "pt", "anova", "as.formula", "as.dist", "symnum",
           "shapiro.test", "aggregate", "cor.test")
importFrom("utils", "head", "setWinProgressBar", "winProgressBar", "combn")
S3method(as, lpcor)
S3method(is, lpcor)
S3method(plot, WAASBY)
S3method(plot, WAASBYratio)
S3method(plot, WAASratio.AMMI)
S3method(plot, blup)
S3method(plot, eigen)
S3method(plot, scores)
S3method(plot, MTSI)
S3method(plot, FAI_BLUP)
S3method(plot, validation.AMMIF)
S3method(predict, WAAS.AMMI)
S3method(summary, WAASB)
S3method(summary, WAAS.AMMI)
S3method(summary, MTSI)
S3method(summary, ge_stats)
S3method(summary, path_coeff)
S3method(autoplot, WAAS.AMMI)
S3method(autoplot, WAASB)
